/* ph number */
.ph_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background-color: #237d9e;
    color: white;
    height: 40px;
}

.ph_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ph_left p {
    margin-left: 13px;
    text-align: center;
}

.ph_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    font-size: 13px;
}

.ph_right {
    margin-top: -8px;
}


/* navbar home */
.nav_home_cont {}

.nav_main_home {
    margin-top: 10px;
}

/* 
slider */
.banner_slider video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* countes */
.counts_cont {
    height: 180px;
    display: flex;
    justify-content: center;

}

.counts_main_cont {
    width: 70%;
    height: 200px;
    background-color: #237d9e;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: -31px;
    border-radius: 7px;
    box-shadow: 1px 6px 17px 0px #8e8e8e;

}

.counts_1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.counts_1 p:first-child {
    font-size: 60px;
    font-weight: bold;
    color: #f57825;
}




/* about us  */
.chooseUs {
    margin-top: 100px;
}

.chooseUs p {
    width: 268px;
}

.abt_cont {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.abt_main_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.abt_card {
    width: 400px;
    height: 100px;
    display: flex;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
}

.abt_card img {
    border-radius: 60%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 22px;
}

.abt_card p {
    font-size: 16.5px;
    margin: 0;
}






/* Specialities */
.specs_cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.specs_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}

.specs_title h1 {
    text-align: center;
    color: #f57825;
}

.specs_title p {
    width: 199px;
    border-bottom: 3px solid #f57825;
    margin-top: 5px;
}

.specs_main_cont {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s_icon_cont img {
    border-radius: 50%;
    width: 130px;
}

.s_icon_cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
    height: 193px;
    margin: 31px;
}

.s_icon_cont p {
    width: 136px;
    margin-top: 35px;
    font-size: 17px;
    color: #007b80;
    font-weight: 500;
}







/* vlog */
.vlog {
    margin-top: 100px;
    margin-bottom: 30px;
}

.vlog_slider_cont {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.vlog_main_slider_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    height: 570px;
    padding: 50px;

}


.main_y_m {
    width: 100%;
    height: 100%;

}
.vlog_1_main{
    display: flex;
 
}

.vlog_1 {
    height:370px;
    width:100%;
    border: 12px solid white;
}

.vlog_2 {
    height:370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vlog_2 p{
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    border-radius: 25px;
    color:white !important; 
    padding: 7px 70px;
    display: inline-block;
}
.y_videos {
    width:250px;
    height:150px;
    border:10px solid #f3f3f3;

}

.vlog_2_sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-x: hidden;
    margin: 10px 50px;
    height: 370px;
}

.mySwiper {
    box-shadow: inset 0 0 10px black;
    z-index: 2;
    height: 100%;
}

.vlog_main_slider_cont img {
    width: 100% !important;
}

.vlog_main_slider_cont p {
    color: black;
    z-index: 1;
}



/* Testimonials */

.testi_cont {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #d3d3d3;
    padding: 80px 0;
}

.testi_main_cont {
    width: 85%;
    background-color: black;
    border-radius: 7px;
    color: white;
    padding: 26px 0px 0 60px;
}

.testi_content {
    display: flex;
    justify-content: center;
}

.testi_content p {
    width: 90%;
    text-align: justify;
    font-size: 19px;
    color: #d3d3d3;
}

.testi_title {
    font-size: 31px;
    font-weight: 500;
}

.cli_txt {
    color: #00b5ff;
    font-weight: 700;
}

.cli_name {
    font-size: 18px;
}