/* ph number */
.nav_ph_icon{
        margin-top: -3px;
        margin-right: 4px;
}
.ph_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background-color: #237d9e;
    color: white;
    height: 40px;
}

.ph_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ph_left p {
    margin-left: 13px;
    text-align: center;
}

.ph_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    font-size: 13px;
}

.ph_right {
    margin-top: -8px;
}


/* navbar home */
 
.nav_main_home {
    margin-top: 10px;
}
.container, .container-sm {
    max-width:100% !important;
}

/* 
slider */
.banner_slider video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* countes */
.counts_cont {
    height: 180px;
    display: flex;
    justify-content: center;

}

.counts_main_cont {
    width: 70%;
    height: 200px;
    background-color: #237d9e;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: -31px;
    border-radius: 7px;
    

}

.counts_1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.counts_1 p:first-child {
    font-size: 60px;
    font-weight: bold;
    color: #f57825;
}




/* about us  */
.chooseUs {
    margin-top: 100px;
}

.chooseUs p {
    width: 268px;
}

.abt_cont {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.abt_main_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 0;
}

.abt_card {
    width: 400px;
    height: 100px;
    display: flex;
    background-color: #f3f3f3b8;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    color: black;
    font-weight: 600;
}

.abt_card img {
    border-radius: 60%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 22px;
}

.abt_card p {
    font-size: 16.5px;
    margin: 0;
}






/* Specialities */
.specs_cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.specs_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.specs_title h1 {
    text-align: center;
    color: #f57825;
    font-weight: bold;
}

.specs_title p {
    width: 199px;
    /* border-bottom: 3px solid #f57825; */
    margin-top: 5px;
}

.specs_main_cont {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s_icon_cont img {
    border-radius: 50%;
    width: 130px;
}

.s_icon_cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
    height: 193px;
    margin: 31px;
}

.s_icon_cont p {
    width: 175px;
    margin-top: 35px;
    font-size: 20px;
    color: #007b80;
    font-weight: 600;
}






/* vlog */
.vlog {
    margin-top: 44px;
    margin-bottom: 30px;
}

.vlog_slider_cont {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.vlog_main_slider_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #237d9e;
    height: 501px;
    padding: 50px;
    margin-top: -17px;
   
}

.main_y_m {
    width: 100%;
    height: 100%;

}
.vlog_1_main{
    display: flex;
 
}

.vlog_1 {
    height: 370px;
    width: 100%;
    border: 4px solid white;
}

.vlog_2 {
    height:370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vlog_2 p{
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    border-radius: 25px;
    color:white !important; 
    padding: 7px 70px;
    display: inline-block;
}
.y_videos {
    width:250px;
    height:150px;
    border:10px solid #f3f3f3;

}

.vlog_2_sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-x: hidden;
    margin: 10px 50px;
    height: 370px;
}

.mySwiper {
    box-shadow: inset 0 0 10px black;
    z-index: 2;
    height: 100%;
}

.vlog_main_slider_cont img {
    width: 100% !important;
}

.vlog_main_slider_cont p {
    color: black;
    z-index: 1;
}







/* 
hospital images */

.scrol_img_cont{
    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: -3;
    margin-top: 50px;
}

.scrol_img_main_cont{
    width: 100%;
    height:350px;
}


.scrol_img_main_cont img{
    width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  
}








/* Testimonials */
.tes1 {
    margin-top: 84px;
    margin-bottom: -51px;
}
.testi_cont {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    /* padding: 80px 0; */
    /* width: 80%; */
    /* margin-bottom: 67px; */
    background-color: #f6f6f6;
    padding-bottom: 30px;
}                                   
.testi_content img{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border:2px solid #ff9800;
}

.testi_main_cont {
    width: 80%;
   
    border-radius: 7px;
    color: white;
    padding: 30px  5px 0px 30px;
    /* border: 1px solid #d0d0d0; */
    position: relative;
}

.testi_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cli_reviewc_content {
    width: 90%;
    text-align: justify;
    font-size: 19px;
    color: #3a3a3a;
    font-weight: 600;
    margin: 0;
}

.testi_title {
    font-size: 31px;
    font-weight: bold;
    color: black;
}
.star_cont{
    margin-top: 10px;
}

.cli_txt {
    color: #00b5ff;
    font-weight: 700;
}

.cli_name {
    font-size: 18px;
    font-size: 23px;
    color: #2c2c2c;
    font-weight: 600;
}
.swiper-container{
    overflow: hidden;
}
.slide_btn_main{
    display: flex;
    justify-content: center;
}
.slide_btn{
    width: 200px;
    display: flex;
    justify-content: center;
}
.slide_btn button {
    border-radius: 6px;
    width: 100px;
    padding: 8px 32px;
    margin: 0 24px;
    border: transparent;
    background-color: orange;
    color: black;
    font-weight: 600;
}
.carousel-indicators {
   display: none !important;
}

.carousel-control-next-icon::after {
    content: "ï”";
    font-weight: bold;
    font-family: "Font Awesome 6 Pro","Font Awesome 6 Free";
    font-size: 1.7rem;
    color: #ff9800;
    margin-left: 100px;
}

.carousel-control-prev-icon::after {
    color: #ff9800;
   position: relative;
   right: 100px;
   font-weight: bold;
}



/*--------- tab responsive ------------------------------- */
@media (max-width:700px) {
    .navbar>.container{
        width: 100% !important;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .counts_main_cont {
        width: 87%;
        height: 159px;
        background-color: #237d9e;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        margin-top: -90px;
        border-radius: 7px;
        box-shadow: 0;
    }
    .y_videos {
        width: 147px;
        height: 150px;
        border: 10px solid #f3f3f3;
    }
    .vlog_1 {
        height: 370px;
        width: 100%;
        border: 12px solid white;
        margin-right: 13px;
    }
    .vlog_2 p {
        font-size: 10px;
        font-weight: bold;
        background-color: black;
        border-radius: 25px;
        color: white !important;
        padding: 7px 38px;
        display: inline-block;
    }
    .vlog_2 {
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 118% !important; */
        width: 137px;
    }
    .vlog_1_main {
        display: flex;
        margin-top: 27px;
    }
    .vlog_main_slider_cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f3f3f3;
        height: 570px;
        padding: 0px;
    }
    .vlog_2_sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        margin: 10px 50px;
        height: 307px;
        margin-top: -8px;
    }
    .counts_1 {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        text-align: center;
    }
    .counts_1 p:first-child {
        font-size: 49px;
        font-weight: bold;
        color: #f57825;
    }


    .specs_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -51px;
        justify-content: center;
    }
    .vlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 38px;
        justify-content: center;
    }
    .tes1{
        margin-top: 57px;
    }

    

}

/*--------- 411px  responsive ------------------------------- */
@media(max-width:412px){
    .vlog_main_slider_cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f3f3f3;
        height: 570px;
        padding: 0px;
        flex-direction: column;
    }
    .spc_ori_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 39px;
        justify-content: center;
    }
    .s_icon_cont img {
        border-radius: 50%;
        width: 80px;
    }
    .s_icon_cont {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 121px;
        height: 134px;
        margin: 1px;
    }
    .s_icon_cont p {
        width: 91px;
        margin-top: 12px;
        font-size: 13px;
        color: #007b80;
        font-weight: 600;
    }
    .specs_main_cont {
        width: 100%;
    }
    
}




